<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS 5800 demo</title>
  </head>

  <body>

    <p><a href="{{ url_for('render_hc_ackley_page') }}">Hill climbing on Ackley test function</a></p>
    <p><a href="{{ url_for('render_hc_rastrigin_page') }}">Hill climbing on Rastrigin test function</a></p>
    <p><a href="{{ url_for('render_hc_sphere_page') }}">Hill climbing on Sphere test function</a></p>
    <p><a href="{{ url_for('render_rr_ackley_page') }}">Random restart hill climbing on Ackley test function</a></p>
    <p><a href="{{ url_for('render_rr_rastrigin_page') }}">Random restart hill climbing on Rastrigin test function</a></p>
    <p><a href="{{ url_for('render_rr_sphere_page') }}">Random restart hill climbing on Sphere test function</a></p>
    <p><a href="{{ url_for('render_sa_ackley_page') }}">Simulated annealing on Ackley test function</a></p>
    <p><a href="{{ url_for('render_sa_rastrigin_page') }}">Simulated annealing on Rastrigin test function</a></p>
    <p><a href="{{ url_for('render_sa_sphere_page') }}">Simulated annealing on Sphere test function</a></p>

  </body>
</html>
